
.reverse{
    flex-direction: row-reverse;
}

.container-service{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* padding: 2rem ; */
    height: 100vh;
    align-items: center;
}

.section:nth-child(1) .container-service{
    height: 80vh;
}
.container-service .content-service{
    width: 40%;
    padding: 3rem 4rem;
    height: 60vh;
}

.container-service .content-service h2{
    font-size: 2.8rem ;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}

.container-service .content-service .description{
    padding: 0 1rem;
    width: 100%;
}

.container-service .content-service .description p{
    font-size: 1.4rem;
    word-spacing: .15rem;
    line-height: 1.6rem;
}


.container-service .animation-service{
    width: 50%;
    position: relative;
    padding: 1rem ;
    justify-content: center;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container-service .animation-service .animation-img{
    width: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
}
.container-service .animation-service img{
    filter: var(--filter-blue);
    width: 60%;
    margin: auto;
    transition: all 2s ease-in-out;
    animation: service-float 2s ease-in-out infinite normal ;
}

@keyframes service-float{
    0%{
      transform: translate(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translate(0);
    }
}
        
.container-service .animation-service .jet{
    right: 5%;
    top: calc(100% - 2px);
}

.container-service .animation-service .jet::before,
.container-service .animation-service .jet::after,
.container-service .animation-service .jet span{
    animation: moveSmoke 2.2s infinite;
    height: 200px;
    top: -430px;
    width: 40px;
    left: 80%;
}

.section:nth-child(2) .container-service .animation-service .jet::before,
.section:nth-child(2) .container-service .animation-service .jet::after,
.section:nth-child(32) .container-service .animation-service .jet span{

    left: 20px;
}

.section:nth-child(3) .container-service .animation-service .jet::before,
.section:nth-child(3) .container-service .animation-service .jet::after,
.section:nth-child(3) .container-service .animation-service .jet span{

    top: -395px;
    left: 80%;
}

.section:nth-child(4) .container-service .animation-service .jet::before,
.section:nth-child(4) .container-service .animation-service .jet::after,
.section:nth-child(4) .container-service .animation-service .jet span{

    left:130%;
}

.section:nth-child(5) .container-service .animation-service .jet::before,
.section:nth-child(5) .container-service .animation-service .jet::after,
.section:nth-child(5) .container-service .animation-service .jet span{
    top: -415px;
}

.section:nth-child(6) .container-service .animation-service .jet::before,
.section:nth-child(6) .container-service .animation-service .jet::after,
.section:nth-child(6) .container-service .animation-service .jet span{
    top: -410px;
    left: 20px;
}

.section:nth-child(7) .container-service .animation-service .jet::before,
.section:nth-child(7) .container-service .animation-service .jet::after,
.section:nth-child(7) .container-service .animation-service .jet span{
    top: -404px;
    left: -30px;
}

.section:nth-child(8) .container-service .animation-service .jet::before,
.section:nth-child(8) .container-service .animation-service .jet::after,
.section:nth-child(8) .container-service .animation-service .jet span{
    top: -408px;
    left: -30px;
}

.section:nth-child(9) .container-service .animation-service .jet::before,
.section:nth-child(9) .container-service .animation-service .jet::after,
.section:nth-child(9) .container-service .animation-service .jet span{
    top: -406px;
    left: -30px;
}

.container-service .animation-service .jet::after {
    animation-delay: 1.1s;
  }
  
 .container-service .animation-service  .jet span {
    animation-delay: .2s;
  }

.section:nth-child(2) .container-service .animation-service img{
    width: 56%;
}

.section:nth-child(3) .container-service .animation-service img{
    width: 58%;
    margin-top: 3.5rem;
}

.section:nth-child(4) .container-service h2{
    font-size: 2.3rem;
}
.section:nth-child(4) .container-service img{
    margin-top: 1.5rem;
}

.section:nth-child(5) .container-service .animation-service img{
    width: 55%;
}

.section:nth-child(6) .container-service .animation-service img{
    width: 55%;
    margin-top: 2rem;
}

.section:nth-child(7) .container-service p{
    padding-right: 0;
    font-size: 1.2rem;
}

.section:nth-child(7) .container-service .animation-service img{
    width: 54%;
    margin-top: 6rem;
}


.section:nth-child(8) .container-service p{
    font-size: 1.12rem;
    padding-right: 0;
}

.section:nth-child(8) .container-service .animation-service img{
    width: 54%;
    margin-top: 6rem;
}

.section:nth-child(9) .container-service p{
    font-size: 1.12rem;
    padding-right: 0;
}

.section:nth-child(9) .container-service .animation-service img{
    width: 54%;
    margin-top: 6rem;
}


