body{
    color: var(--text-color);
    padding: 4rem;
    text-align: left;
    box-sizing: border-box;
    background-color: var(--bg-color);
}

p{
    font-size: 1.2rem ;
    color: var(--text-color);
    margin: 0 0 1.3rem 0;
    line-height: 1.5rem;
}

.support-heading{
    color: var(--blue);
    margin: 2rem 0;
}

h4{
    color: var(--blue);
    margin: 0;
    margin-bottom: .25rem;
}

.padding{
    padding: 0rem 3rem ;
    line-height: 1.7rem;
}
ul{
    padding: 0rem 3rem;
}
li{
    text-transform: capitalize;
    color: var(--text-color);
    margin-bottom: .5rem;
    line-height: 1.4rem;
}