body{
    
    /* padding: 4rem; */
    text-align: left;
    background-color: var(--bg-color);
}

p{
    font-size: 1.2rem ;
    color: var(--text-color);
    margin: 0 0 1.3rem 0;
    line-height: 1.5rem;
}

.support-heading{
    color: var(--blue);
    margin: 2rem 0;
}

h4{
    color: var(--blue);
    margin: 0;
    margin-bottom: .25rem;
}

.padding{
    padding: 0rem 3rem ;
    line-height: 1.7rem;
}
ul{
    padding: 0rem 3rem;
}
li{
    text-transform: capitalize;
    color: var(--text-color);
    margin-bottom: .5rem;
    line-height: 1.4rem;
}

.section:nth-child(1){
    height: fit-content;
    /* margin: -4rem  auto 0 -2rem; */
    padding-bottom: 1rem;
}